
body {
    background-color: rgb(70, 1, 160);
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(86, 13, 202);
    display: flex ;
    gap: 2px;
    padding-top: 5px;

}
header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:left;
    position: relative;
    color:aliceblue ;
    
}
header img {
    border-radius: 50%;
    width: 4%;
    height: 4%;
}
section#frente {
    position: relative; 
    width: 100vw;
    height: 100vh; 
}

#imagen_barra {
    position: absolute;
    width: 100vw;
    height: 100vh; 
    
    z-index: 1; 
}
#imagen_barra img{
    width: 100vw;
    height: 100vh; 
}
#redireccion {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2; 
    text-align: center;
    border: 2px solid white;
}

#redireccion a {
    font-size: 24px;
    color: white; 
    text-decoration: none;
}
h2 {
    color: aliceblue;
}
h3{
    color:wheat ;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
text-align: center;}
.cajas {
    border: violet solid 4px;
    justify-items: center;
    background-color: blueviolet;
}

#caja {
    border: violet solid 4px;
    justify-self: center;
    background-color: blueviolet;
}

.container {
    display: grid;
    grid-template-rows: 4;
    gap: 30px;
    justify-content: center;
    background-color: rgb(55, 0, 255);
    z-index: 1;
    position: relative;
    padding: 10px;
    margin: 10px;
    
}

button {
    cursor: pointer;
    border: none;
    transition: background-color 0.1s, transform 0.2s;
    background-color: white;
}

button:active {
    background-color: blue;
    transform: scale(0.98);
}

span {
    color: aliceblue;
}

.card{
   justify-content: center;
   background-color: red;
}